@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0px auto;
}

.wrapper{
  min-height: 750px;
  background: url('./images/back.jpg') center/cover no-repeat scroll;
}

.wrapper{
  display: flex;
  flex-direction: column;
}


.header{
  flex: 0 1 70px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  background: rgba(0,0,0,.5);
  padding: 5px 40px;
}

.main{
  flex: 1 1 auto;
  /* background: url('./images/back.jpg') center/cover no-repeat scroll; */
}

.footer{
  flex: 0 1 50px;
}

.addNote{
  padding: 10px 0px;
}


.addNote input{
  width: 60%;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid grey;
}

.addNote .button{
  width: 50px;
  height: 27.6px;
  margin-left: 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.addNote .button-clear{
  width: 100px;
  height: 27.6px;
  margin-left: 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.addNote .button:hover,
.addNote .button-clear:hover
{
  box-shadow: 0 0 2px #000;
}

.note_item{
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  background-color: rgba(255,255,255, .9);
  padding:0px 20px;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
}

.icon{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.icon:hover{
   opacity: 0.5; 
}

@media (min-width: 1200px){
  .addNote input{
    width: 50%;
  }

  .note_item{
    width: 50%;
  }
}

@media (max-width: 757px){
  .addNote input{
    width: 80%;
  }

  .note_item{
    width: 80%;
  }
}

@media (max-width: 450px){
  .addNote input{
    width: 95%;
    display: block;
  }

  .addNote .button{
    width: 45%;
    margin-top: 20px;
  }

  .note_item{
    width: 90%;
    overflow: auto;
  }
}